In [1]:
# Answer 1

import pandas as pd
data=[4,8,15,16,23,42]
df = pd.Series(data)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Answer 2
data=[1,2,3,4,5,6,7,8,9,10]
df = pd.Series(data)
df

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Answer 3
data={'name':['Alice','Bob','Claire'],'age':['25','30','27'],'gender':['female','male','female']}
df=pd.DataFrame(data)
print(df)

     name age  gender
0   Alice  25  female
1     Bob  30    male
2  Claire  27  female

In [6]:
# Answer 4
# Dataframe is two-dimensional labeled data structure with columns of potentially different
# types.Its similar to spreadsheet or a Sql table.
# Each column in a DataFrame is a Pandas Series,but a DataFrame can have multiple columns,
# whereas a Series can only have one.

s=pd.Series([1,2,3,4,5])
df=pd.DataFrame({'name':['Alice','Bob','Claire'],'age':['25','30','27'],'gender':['female','male','female']})
print('Series:')
print(s)
print('DataFrame:')
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
DataFrame:
     name age  gender
0   Alice  25  female
1     Bob  30    male
2  Claire  27  female

In [7]:
# Answer 5

# 1.head(): this function can be used to display 1st 5 records
# 2.tail(): this function can be used to display last 5 records
# 3.type(): this fuction is use to show type 
# 4.sort_values():This function is used to sort the DataFrame by one or more columns.
# 5.fillna():This function is used to fill missing values in the DataFrame with a specified value or method.

In [8]:
# Answer 6

# Series DataFrame are mutable
# Panel immutable in nature

In [9]:
# Answer 7

names = pd.Series(['BHAVANA', 'SHIVA', 'SHUBHAM', 'PRASAD', 'SUDO'])
ages = pd.Series([21, 32, 18, 47, 29])
genders = pd.Series(['F', 'M', 'M', 'M', 'M'])
data={'name':names,'age':ages,'gender':genders}
df=pd.DataFrame(data)
print(df)

      name  age gender
0  BHAVANA   21      F
1    SHIVA   32      M
2  SHUBHAM   18      M
3   PRASAD   47      M
4     SUDO   29      M